<section>
    <h2>Log In</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email*</label>
            <input 
            name="email" 
            type="email" 
            class="form-control" 
            id="exampleInputEmail1" 
            [value]="" 
            ngModel required email>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Password</label>
            <input 
            minlength="8" 
            maxlength="30" 
            name="password" 
            type="password" 
            class="form-control" 
            id="examplePassword1" 
            [value]="" 
            autocomplete="cc-csc"
            ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Log In</button>
    </form>
</section>