div, section{
    color: #726477;
}

.headings, h2{
    font-family: raleway;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 18px;
}

main{
    width: 70%;
    margin: auto;
    background-color: #f4f2f5;
    padding: 60px 30px;
}

section{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column1 p{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.5px;
}

.column1{
    display: flex;
    flex-direction: column;
    width: min-content;
    gap: 40px;
    width: 60% !important;
}

.column1 img, .column2 img{
    width: 100%;
}

.column2{
    width: 40% !important;
}

.logos img{
    width: 16%;
}

.logos{
    display: flex;
    justify-content: space-evenly;
}

.price p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    width: 70%;
    text-align: center;
    border-right: 1px dashed #a08fa6;
}

h5, h6{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    text-align: center;
}

.price div{
    width: fit-content;
    background-color: #dfd8e1;
    padding: 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5{font-size: 29px;}
h6{font-size: 18px;}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .logos img{
        width: 20%;
    }

    .price p{
        font-size: 30px;
    }
}

@media screen and (max-width: 700px){
    main{
        width: 80%;
        margin: auto;
        background-color: #f4f2f5;
        padding: 60px 30px;
    }
    .column1, .column2{
        width: 100% !important;
    }

    section{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h1{
        font-size: 25px;
    }
    
    h2{
        font-size: 15px;
    }
}