<main>
    <div class="headings">
        <h1>{{recipe.name}}</h1>
        <h2>{{recipe.cuisine}}</h2>
        <hr>
    </div>
    <section>
        <div class="column1">
            <img [src]="recipe.image" alt="">
            <div>
                <h2  style="margin: 0;">Instructions</h2>
                <ol>
                    <li *ngFor="let item of recipe.instructions">{{item}}</li>
                </ol>
            </div>
        </div>
        <div class="column2">
            <div class="time">
                <div class="rating" *ngIf="recipe.rating !== undefined">
                    <h2>Rating: {{recipe.rating}}</h2>
                    <app-stars-rating [rating]="recipe.rating"></app-stars-rating>
                </div>
            </div>
            <hr>
            <div>
                <div class="time-box">
                    <h2>Cooking Time</h2>
                    <div>
                        <h5>{{recipe.cookTimeMinutes}}</h5>
                        <h6>Minutes</h6>
                    </div>
                </div>
                <br>
                <div class="time-box">
                    <h2>Preping Time</h2>
                    <div>
                        <h5>{{recipe.prepTimeMinutes}}</h5>
                        <h6>Minutes</h6>
                    </div>
                </div>
            </div>
            <hr> 
            <div>
                <div class="time-box">
                    <h2>Serving</h2>
                    <div>
                        <h5>{{recipe.servings}}</h5>
                        <h6>Servings</h6>
                    </div>
                </div>
                <br>
                <div class="time-box">
                    <h2>Calories per serving:</h2>
                    <div>
                        <h5>{{recipe.caloriesPerServing}}</h5>
                        <h6>Calories</h6>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h2>Ingredients:</h2>
                <ul>
                    <li *ngFor="let item of recipe.ingredients">{{item}}</li>
                </ul>
            </div>
        </div>
    </section>
</main>